*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

html,
body {
  @apply .h-screen;
}

html {
  overflow-y: scroll;
  font-size: responsive 16px 20px;
  font-range: config('screens.sm') config('screens.xl');
}

body {
  @apply .font-body .text-base .bg-white .text-black-shade;

  line-height: responsive 1.6rem 2rem;
  line-height-range: config('screens.sm') config('screens.xl');
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  @apply .font-bold;
  font-family: 'Vollkorn', sans-serif;
}

img {
  @apply .inline-block .max-w-full .h-auto .align-middle;
}

ul,
ol {
  @apply .list-reset;
}

a {
  color: inherit;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.45s ease-in-out;
  transition: all 0.45s cubic-bezier(0.55, 0, 0.1, 1);
}
.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translate(10px, 0);
}
